html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.add-button {
  width: 25vw;
  height: 10vh;
  border-radius: 15px;
  align-self: center;
  margin-top: 10px;
}

table {
  border-collapse: collapse;
}

.thead th {
  border: 1px solid black;
  background-color: rgb(225 206 166);
}

th, td {
  border: 1px solid black;
  background-color: #80a551;
}

.cards {
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  gap: 25px 25px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  padding: 20px;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.container-read {
  display: flex;
  column-gap: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

